
.region-leaderboard{

	padding-top: 0px;
	background-color: #4a6172;
	color: #fff;
	padding-bottom: 5px;
}




.l-region--branding {

}
 


.l-region--navigation{
    //background-color: #DCDCDC;
  //  width: 1920px;
 
   // height: 400px;
}








.region-header{
	@include logo-sprite(logo);
	
}




.region--debug--header{


	

}

.region--debug--footer{
    background-color: #4c6172;
	color: #fff;
	margin-bottom: 0px;
}








